:focus {
  outline-color: transparent;
  outline-style: none;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.window {
  padding: 0;
  margin: 0;
  border: 0;
}

.editor {
  width: 250px;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: 0px 0px 3px 1px rgb(87, 86, 86);
}

.preview {
  width: 500px;
  min-height: 200px;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: 0px 0px 3px 1px rgb(87, 86, 86);
}

#preview {
  background-color: var(--secondary-col);
  min-height: 180px;
  border: 1px solid black;
  border-top: none;
  word-break: break-all;
  padding: 5px;
  font-size: 12px;

}

#preview img {
  width: 50%;
}

.ed-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  padding: 5px;
  margin: 0;
  border: 0;
  min-height: 230px;
  max-height: 500px;
  overflow: auto;
  border: 1px solid black;
  border-top: none;
  background-color: var(--secondary-col);
  font-size: 10px;
  font-family: monospace, sans-serif;
}

.header{
  width: 100%-1px;
  margin: 0;
  padding: 1px;
  height: 20px;
  background-color: var(--tertiary-col);
  border: 1px solid black;
  box-shadow: inset 0px 0px 5px 1px rgb(87, 86, 86);
  display: flex;
  justify-content: space-between;
  align-items: top; 
}

#header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#header-right {
  height: 100%;
}

.header p {
  font-size: 10px;
}


