:root {
  --primary-col: #5FBDFF;
  --secondary-col: #96EFFF;
  --tertiary-col: #7B66FF;
  --quart-col: #C5FFF8;
}
html {
  overflow: auto;
}
body {
  margin: 0;
  padding: 10px;
  font-family: 'Georgia', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-col);
}

code {
  font-family: 'Georgia', 'sans-serif';
}
